@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  --color-zinc-950: #09090b;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--foreground);
}

/* Custom selection color */
::selection {
  background: #2dd4bf;
  /* Teal-400 */
  color: #000;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
  display: flex;
  /* Ensure flex behavior */
  width: max-content;
  /* Allow content to dictate width */
}

.animate-scroll:hover {
  animation-play-state: paused;
}